body {
    font-family: helvetica, Arial, sans-serif;
}

.table-container {
    margin: 20px auto;
    display: table;
    width: 60%;
    border-collapse: collapse;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
    background-color: #f9f9f9;
}

.drop-area {
    display: table-cell;
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #fffd6e;
}

.table-header {
    background-color: #e1e1e1;
    font-weight: bold;
}

.file-uploaded {
    background-color: #83dd86;
}

.file-error {
    background-color: rgb(255, 194, 79);
}

#zipButton {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#zipButton:hover {
    background-color: #45a049;
}

#main-nav ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

#main-nav ul li {
    display: inline-block;
    margin-right: 20px;
}

#main-nav ul li a {
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

#main-nav ul li a:hover {
    background-color: #0056b3;
}